redmine-n8n/n8n/_Musai_Automations/Musai University.json
{
  "name": "Musai University",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/course/generate-from-topic",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3bc97ab9-6b5a-4ef8-8955-19e325e2d625",
      "name": "Webhook",
      "webhookId": "8a3404ef-2306-4fb4-915e-b874414d778b",
      "credentials": {
        "httpBasicAuth": {
          "id": "5sBfSoSsO824kWBH",
          "name": "Site Simple Auth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please make a course on the following topic\n\nCourse Topic: {{ $json.body.topic }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are Musai University Course Syllabus Generator.  \nYour sole job is to take the given course topic string and generate a draft course outline.  \nDo not ask for clarification or request the topic. Assume the topic is always provided as input.  \n\n**Output Contract:**  \nReturn one JSON object with this exact structure:\n\n{\n  \"title\": \"Concise course title derived from the topic\",\n  \"description\": \"1–2 sentence summary of what the course will teach\",\n  \"instructor\": \"Musai Instructor\",\n  \"syllabus\": [\n    {\n      \"lecture topic\": \"Specific lecture name\",\n      \"summary\": \"1–2 sentences describing what this lecture covers\",\n      \"duration\": \"Approximate time (e.g., '30 min', '1 hour')\"\n    },\n    {\n      \"lecture topic\": \"...\",\n      \"summary\": \"...\",\n      \"duration\": \"...\"\n    }\n    // Multiple lecture objects — ~7 is typical, but adapt count naturally to cover the subject\n  ],\n  \"estimatedDuration\": \"Total course time (sum of lectures, rounded)\",\n  \"difficulty\": \"beginner|intermediate|advanced\",\n  \"tags\": [\"Relevant keywords, 3–6 max\"]\n}\n\n**Constraints:**\n- Always output valid JSON. No extra text, markdown, or explanations.\n- Do not ask follow-up questions. Use the topic string as-is.\n- Ensure the `syllabus` array contains multiple lecture objects (typically around 7).\n- Each lecture object must contain: `\"lecture topic\"`, `\"summary\"`, `\"duration\"`.\n- If difficulty is ambiguous, default to `\"beginner\"`.\n- Tags must be lowercase, 3–6 items max."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "2c658479-e00b-4da3-8490-b6f6b3031eb0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "MeaTLoTioN/William_Riker:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        288,
        288
      ],
      "id": "3870cd87-49e4-493f-a12c-58df461a5b12",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "5jMmaKw46MblNzJ1",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{$json.body.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        352
      ],
      "id": "ecfa1a65-bb6b-402c-a290-01f255457c67",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "915d77ec-dd06-473d-8b2a-b5488f20e5e3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        288
      ],
      "id": "65565107-3e98-429d-85ab-fac1ab8a154e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "RxyKtpL6w66Rr6sy",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19dca025-1bd7-44c0-8ea3-1eb00cf9ebca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3b1e9547a17eff9a9182eaa8e9809764c7c0d79f0473fb55f9aea874ddf90c9"
  },
  "id": "cZJRkfeW5Jq4pE9g",
  "tags": []
}