redmine-n8n/n8n/_Musai_Automations/MusaiRelay.json
{
  "name": "MusaiRelay",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        288
      ],
      "id": "acb2d184-36c4-45c9-98c9-a3718db3e3ad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Force Eastern Time (Toronto)\nconst TZ = 'America/Toronto';\nconst now = new Date();\n\n// Format time (hh:mm AM/PM ET)\nconst time12 = new Intl.DateTimeFormat('en-US', {\n  timeZone: TZ,\n  hour: 'numeric',\n  minute: '2-digit',\n  hour12: true,\n}).format(now);\n\n// Format date (MMM dd{suffix} YYYY)\nconst parts = new Intl.DateTimeFormat('en-US', {\n  timeZone: TZ,\n  month: 'short',\n  day: 'numeric',\n  year: 'numeric',\n}).formatToParts(now);\n\nconst get = (type) => parts.find(p => p.type === type)?.value || '';\nconst month = get('month');\nconst dayNum = Number(get('day'));\nconst year = get('year');\nconst suffix = (d) => (d > 3 && d < 21) ? 'th' : (['th','st','nd','rd'][Math.min(d % 10, 4)] || 'th');\nconst datePretty = `${month} ${dayNum}${suffix(dayNum)} ${year}`;\n\n// Weekday + part of day\nconst dow = new Intl.DateTimeFormat('en-US', { timeZone: TZ, weekday: 'long' }).format(now);\nconst hourET = Number(new Intl.DateTimeFormat('en-US', { timeZone: TZ, hour: 'numeric', hour12: false }).format(now));\nconst partOfDay = hourET < 5 ? 'late night' : hourET < 12 ? 'morning' : hourET < 17 ? 'afternoon' : 'evening';\n\n// Map items\nreturn items.map(item => {\n  const src = item.json?.body ?? item.json ?? {};\n  \n  const sessionId = src.sessionId ?? null;\n\n    const action = src.action ?? null;\n\n    const meta = src.meta ?? null;\n\n  \n  const query = src.query ?? '';\n\n  // Append context in a private-style block at the end of the query\n  item.json = {\n    sessionId,\n    query: `\n[ It is the ${partOfDay} of ${dow}, ${datePretty} at ${time12}]\n\n${query}\n\n`, action: `${action}`\n    ,\"meta\" :`${meta}`\n  };\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        144
      ],
      "id": "462a26b8-485c-488d-bed0-8a70d9ca65b9",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"sessionId\": \"cfef46b9-c331-42cb-aee6-cb2506421b57\",\n  \"query\": \"here is a riddle. How far can you walk into a room?\",\n  \"action\": \"\",\n  \"meta\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        48
      ],
      "id": "5b5dd777-a066-4742-b446-06b7bfbd2dc8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user asked:\n\"{{ ($json.body?.query ?? $json.query ?? '').toString().replace(/\\[[^\\]]*\\]/g,'').replace(/\\s+/g,' ').trim() }}\"\n\nAnswer with one word only: musaisearch or musaichat.",
        "options": {
          "systemMessage": "=You are the Musai intent selector. Output one word only: musaisearch or musaichat.\nRule: if the query contains any of: look up, lookup, search, find, news, latest, update, check, verify, compare, today, now, this week, this month, price, score → musaisearch.\nNever explain or add punctuation. If uncertain, choose musaisearch.\nExamples:\nQ: “look up X” → musaisearch\nQ: “tell me a joke” → musaichat\nQ: “how are you?” → musaichat\nQ: “what is the latest on the president” → musaisearch\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        784,
        144
      ],
      "id": "374c524e-7e3f-431e-be80-fa8fd054e2f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "MeaTLoTioN/William_Riker:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        704,
        480
      ],
      "id": "eb2df1ef-5776-4dcd-8f4e-3e26d8a7d50c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "5jMmaKw46MblNzJ1",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        896,
        480
      ],
      "id": "04a8ef6c-0bd0-424d-a9b2-3469ffbf7cbd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "musaichat",
                    "rightValue": "={{ $json.output.toString().toLowerCase() }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fabe6d6e-1b76-4613-bac0-a9236d56b623"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5b71bd9-87e1-4999-bf49-e134a5f99ed1",
                    "leftValue": "musaisearch",
                    "rightValue": "={{ $json.output.toString().toLowerCase() }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1136,
        144
      ],
      "id": "70b7cc2b-3550-49f6-9464-5b42e6142310",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.codemusic.ca/webhook/chat/message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  {\n    \"sessionId\": $node[\"PrepForRealy\"].json.sessionId,\n    \"query\": $node[\"PrepForRealy\"].json.query,\n    \"action\": \"webhookChat\",\n    \"meta\": $node[\"PrepForRealy\"].json.meta,\n    \"perspective\": \"true\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        48
      ],
      "id": "538ef02e-5e17-4bb5-be16-479dd0851763",
      "name": "MusaiChat",
      "credentials": {
        "httpBasicAuth": {
          "id": "5sBfSoSsO824kWBH",
          "name": "Site Simple Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.codemusic.ca/webhook/premusai/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  {\n    \"sessionId\": $node[\"PrepForRealy\"].json.sessionId,\n    \"query\": $node[\"PrepForRealy\"].json.query,\n    \"action\": \"webhookSearch\",\n    \"meta\": $node[\"PrepForRealy\"].json.meta\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        240
      ],
      "id": "4f3208e2-df80-4b7a-882b-a97754cd8b34",
      "name": "MusaiSearch",
      "credentials": {
        "httpBasicAuth": {
          "id": "5sBfSoSsO824kWBH",
          "name": "Site Simple Auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "musai_relay",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        496
      ],
      "id": "78d425f9-2ccd-43f7-845a-36fff09b6ced",
      "name": "Webhook",
      "webhookId": "4917218d-67c6-4727-a0bf-34ac1ec767c7",
      "credentials": {
        "httpBasicAuth": {
          "id": "5sBfSoSsO824kWBH",
          "name": "Site Simple Auth"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1680,
        160
      ],
      "id": "f8e0e662-a6b8-4257-a128-d614e5619ef1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"sessionId\": $json.body?.sessionID ?? \"UNKNOWN\",\n    \"query\": `$json.body.query`,\n    \"action\": \"\",\n    \"meta\": \"\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        400
      ],
      "id": "16b6db4e-d43a-4308-95bb-b24f7388b967",
      "name": "PrepForRealy"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "MusaiChat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MusaiSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MusaiChat": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MusaiSearch": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "PrepForRealy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepForRealy": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0875b0e4-c984-422c-9fdc-ac7c1f73f8f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3b1e9547a17eff9a9182eaa8e9809764c7c0d79f0473fb55f9aea874ddf90c9"
  },
  "id": "Ln8sm8IDtgszFY9x",
  "tags": []
}